# 5 - Data Sampling

In [1]:
import pandas as pd

import rt # remove tweets

df = pd.read_csv("inputs/tweets_3.csv") # import data

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236956 entries, 0 to 236955
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             236956 non-null  object
 1   content          236956 non-null  object
 2   tweet_id         236956 non-null  int64
 3   user_username    236956 non-null  object
 4   conversation_id  236956 non-null  int64
 5   content_1        236956 non-null  object
 6   company_a        236956 non-null  int64
 7   company_b        236956 non-null  int64
 8   company_c        236956 non-null  int64
 9   company          236956 non-null  int64
 10  content_2        236956 non-null  object
 11  content_3        236956 non-null  object
 12  content_4        236956 non-null  object
 13  word_count_1     236956 non-null  int64
 14  content_5        236956 non-null  object
 15  content_6        236956 non-null  object
 16  content_7        236956 non-null  object
 17  content_8        236956 non-null  object
 18  content_9        236956 non-null  object
 19  word_count_2     236956 non-null  int64
 20  content_10       236956 non-null  object
 21  month            236956 non-null  int64
 22  company_x        236956 non-null  object
dtypes: int64(9), object(14)
memory usage: 41.6+ MB

In [3]:
df.head()

,date,content,tweet_id,user_username,conversation_id,content_1,company_a,company_b,company_c,company,...,word_count_1,content_5,content_6,content_7,content_8,content_9,word_count_2,content_10,month,company_x
0,2022-12-30,@converge_csu @kjmdrxs paki balik po internet ...,1608975838728572928,janris0530,1607652734915973120,@company_a @kjmdrxs paki balik po internet con...,1,0,0,1,...,15,please return internet connection nmin paid km...,please return internet connection nmin paid km...,please return internet connection nmin paid km...,please return internet connection nmin paid km...,please return internet connection nmin paid km...,12,please return internet connection nmin pay kmi...,12,a
1,2022-12-30,@converge_csu @alfr3yforyou process the cancel...,1608974288689979392,missrheart,1608880251001802753,@company_a @alfr3yforyou process the cancellat...,1,0,0,1,...,6,process cancellation do not have a reason to pay,process cancellation do not have a reason to pay,process cancellation reason pay,process cancellation reason pay,process cancellation reason pay,4,process cancellation reason pay,12,a
2,2022-12-30,@pldt_cares @aspanlilio @iammvp i want to requ...,1608973180361912321,ericlomerio,1593088282921168896,@company_c @aspanlilio @iammvp i want to reque...,0,0,1,1,...,21,want request investigation nap boxes lines pre...,want request investigation nap boxes lines pre...,want request investigation nap boxes lines pre...,want request investigation nap boxes lines pre...,want request investigation nap boxes lines pre...,16,want request investigation nap box line previo...,12,c
3,2022-12-30,@talk2globe @enjoyglobe internet connection ...,1608972472594104320,channelmaikeru,1608972472594104320,@company_b @company_b internet connection p...,0,1,0,1,...,6,internet connection please pay time job,internet connection please pay time job,internet connection please pay time job,internet connection please pay time job,internet connection please pay time job,6,internet connection please pay time job,12,b
4,2022-12-30,@talk2globe still no internet connection !!!!...,1608972053914484736,channelmaikeru,1608972053914484736,@company_b still no internet connection !!!!!...,0,1,0,1,...,3,still internet connection,still internet connection,still internet connection,still internet connection,still internet connection,3,still internet connection,12,b

## Statistics

### Tweets by company

In [4]:
df.pivot_table(index = "company_x", aggfunc = "count")["content"]

company_x
a     65627
b     59006
c    112323
Name: content, dtype: int64

In [5]:
round(df.pivot_table(index = "company_x", aggfunc = "count")["content"] / len(df) * 100, 2)

company_x
a    27.7
b    24.9
c    47.4
Name: content, dtype: float64

### Tweets by month

In [6]:
df.pivot_table(index = "month", aggfunc = "count")["content"]

month
1     22353
2     21125
3     21500
4     16894
5     21351
6     28079
7     22367
8     20391
9     18556
10    16309
11    14307
12    13724
Name: content, dtype: int64

In [7]:
round(df.pivot_table(index = "month", aggfunc = "count")["content"] / len(df) * 100, 2)

month
1      9.43
2      8.92
3      9.07
4      7.13
5      9.01
6     11.85
7      9.44
8      8.61
9      7.83
10     6.88
11     6.04
12     5.79
Name: content, dtype: float64

### Tweets by company and month

In [8]:
df.pivot_table(index = ["company_x", "month"], aggfunc = "count")["content"]

company_x  month
a          1         5696
           2         5766
           3         5526
           4         4630
           5         4636
           6        10350
           7         6149
           8         5172
           9         6455
           10        5360
           11        3565
           12        2322
b          1         6522
           2         6378
           3         5023
           4         4081
           5         3586
           6         4627
           7         5166
           8         4107
           9         4154
           10        4229
           11        5035
           12        6098
c          1        10135
           2         8981
           3        10951
           4         8183
           5        13129
           6        13102
           7        11052
           8        11112
           9         7947
           10        6720
           11        5707
           12        5304
Name: content, dtype: int64

## Stratified Random Sampling

In [9]:
n = min(df.pivot_table(index = ["company_x", "month"], aggfunc = "count")["content"])

In [10]:
df_sample = df.groupby(["company_x", "month"]).sample(n = n, random_state = 0)

### Tweets by company and month

In [11]:
df_sample.pivot_table(index = ["company_x", "month"], aggfunc = "count")["content"]

company_x  month
a          1        2322
           2        2322
           3        2322
           4        2322
           5        2322
           6        2322
           7        2322
           8        2322
           9        2322
           10       2322
           11       2322
           12       2322
b          1        2322
           2        2322
           3        2322
           4        2322
           5        2322
           6        2322
           7        2322
           8        2322
           9        2322
           10       2322
           11       2322
           12       2322
c          1        2322
           2        2322
           3        2322
           4        2322
           5        2322
           6        2322
           7        2322
           8        2322
           9        2322
           10       2322
           11       2322
           12       2322
Name: content, dtype: int64

In [12]:
rt.rt(345667, 83592)

262075 or 75.82% of the tweets were removed.

## Export Data

In [ ]:
# df_sample.to_csv("inputs/tweets_sample.csv", index = False)

In [ ]:
df_sample.info()

In [ ]:
df_sample.head()

## dataset

In [ ]:
corpus = df_sample

corpus["partition"] = "train"

corpus = corpus[["content_10", "partition"]]

# corpus.to_csv("dataset/corpus.tsv", sep = "\t", header = False, index = False)

words = sorted(set(" ".join(corpus.content_10).split()))

with open("dataset/words.txt", mode = "w") as f:
    for word in words:
        # f.write(word + "\n")